<h1 class="m-5">Iniciar Sesion</h1>
<form [formGroup]="form" class="m-5"(ngSubmit)="onLogin()">
    <div class="mb-3">
        <label for="exampleInputUsuario1">Usuario</label>
        <input type="text" formControlName="nombreUsuario" 
        [ngClass]="{'is-invalid': NombreUsuario?.errors  && NombreUsuario?.touched, 'is-valid': !NombreUsuario?.errors  && NombreUsuario?.touched}"
        class="form-control" id="exampleInputUsuario1"
            aria-describedby="usuarioHelp" placeholder="Ingrese nombre de usuario">
    </div>
    <!-- Gracias al getter que configuramos en el controlador -->
    <div *ngIf="NombreUsuario?.errors  && NombreUsuario?.touched">
        <p *ngIf="NombreUsuario?.hasError('required')" class="text-danger">
            El nombre de usuario es requerido.
        </p>
        <p *ngIf="NombreUsuario?.errors?.['minlength']" class="text-danger">
            El nombre de usuario debe ser de 4 o más caracteres.
        </p>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" 
        [ngClass]="{'is-invalid': Password?.errors  && Password?.touched, 'is-valid': !Password?.errors  && Password?.touched}"
        class="form-control" id="exampleInputPassword1"
            placeholder="Password">
    </div>
    <!-- Gracias al getter que configuramos en el controlador -->
    <div *ngIf="Password?.errors  && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
            El password es requerido.
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
            El password debe ser de 4 o más caracteres.
        </p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>