div {
    background-color: #a1b5cb;
    border-radius: 32px;
    margin: 10px 10px;
    padding: 5px;
    border: 1px solid grey;
}
/* app-social {
    margin-top: 25px;
    margin-right: 10px;
    float: right;
} */